<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
        {{ block "title" . }}
        {{ .Site.Title }}
        {{ end }}
    </title>
    {{ $style := resources.Match "css/**.css" | resources.Concat "custom.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
  </head>
  <body class="bg-zinc-800 w-full max-w-screen-lg m-auto">
    {{ partial "header.html" . -}}
    {{ block "main" . }}
    {{ end }}
  </body>
</html>